{% set inputId = name %}
{% set defaultValue = conf.default_value is defined ? conf.default_value : '' %}
{% set val = value|default(defaultValue) %}

{% set justLabelValue = conf.input == 'label' and val %}

<p class="post-attributes-label-wrapper vtp-attributes-wrapper">

    {% if conf.input == 'checkbox' %}
        <input name="{{ name }}" type="{{ conf.input }}" id="{{ inputId }}" value="1"{{ value ? ' checked' : ''}}/>
    {% endif %}

    <label class="post-attributes-label" for="{{ inputId }}">{{ conf.label }}{{ justLabelValue ? ': ' ~ val  : ''}}</label>
</p>

{% if conf.input == 'select' %}
    <select name="{{ name }}" id="{{ inputId }}">
        {% for option in conf.options %}
            <option value="{{ option.value }}"{{ option.value == val ? ' selected' : '' }}>{{ option.label }}</option>
        {% endfor %}
    </select>
{% elseif conf.input == 'html_render' %}
    <div class="vtp-html">
        {{ val|raw }}
    </div>
{% elseif conf.input == 'list_image' %}
    <div class="js-widget" data-widgets="wp-image-attachments" data-attachment_post_id="{{ attachment_post_id }}">
        <div class="image-preview-wrapper">
            {% for id in val|split(',') %}
                <span class="image-preview" draggable="true" data-id="{{ id }}">
                    {{ wp_get_attachment_image(id)| raw }}
                </span>
            {% endfor %}
        </div>
        <input type="button" class="button js-trigger--upload" value="{{ __( "Upload image" )}}"/>
        <input type="hidden" class="js-trigger--ids" name="{{ name }}" id="{{ inputId }}" value="{{ val }}">
    </div>
{% elseif conf.input == 'html' %}
    {{ wp_editor(val, name) | raw }}
{% elseif justLabelValue %}
    {# nothing ;) #}
{%  elseif conf.input != 'checkbox' %}
    <input name="{{ name }}" type="{{ conf.input }}" size="48" id="{{ inputId }}" value="{{ val }}"/>
{% endif %}